
#placeholder {
    width: 200px;
    height: 200px;
}
#folders{
    width: 100%;
    height: auto;
    padding: 10px;
}
.box_1 {
    padding: 20px;
}
.oldphone {
    height: 250px;
    width: 500px;
}
.box2{
    background-color: lightgray;
    padding: 20px;
}


main .row container {
    display: grid;
    grid-template-columns: auto, auto;
    grid-template-rows: auto;
}

header li{
    list-style-type: none;
}

header ul{
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}

header img{
    width: 100px;
    border-radius: 10px;
    margin: 15px;
    margin-left: 100px;
}

header #login-button button{
    margin-right: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    float: right;
    border: 0;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: darkgrey;
}

footer li{
    list-style-type: none;
}

footer ul{
    border-top: 2px solid black;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
}


.contact a{
    text-decoration: none;
    padding: 1em;
}
.contact_container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "l_sidebar contact r_sidebar"
}

.contact{
    grid-area: contact;
    padding: 2em;
}
.contact img{
    width: 100%;
    height: auto;
}

.l_sidebar{
    background-image: url("../images/nav_side.jpg");
    grid-area: l_sidebar;
    color: white;
    padding: 1.5em;
}
.l_sidebar img{
    align-items: center;
    height: 30%;
}

.l_sidebar h2{
    border-bottom: 2px solid white;
}

.r_sidebar{
    background-image: url("../images/other_links_background.jpg");
    grid-area: r_sidebar;
    color: darkred;
    padding: 1.5em;
}